<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="footer-col col-md-6 ">
        <h3>Shopping Cart</h3>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <i class="social-icons fa-brands fa-facebook"></i>
        <i class="social-icons fa-brands fa-twitter"></i>
        <i class="social-icons fa-brands fa-instagram"></i>
        <i class="social-icons fa-brands fa-pinterest"></i>
        </div>
        <div class="col-md-6">
          <div class="container" style="color:white;">
            <div class="row">
              <div class="col-md-4 p-3">
                <h5>Shop</h5>
                <p>All</p>
                <p>Mobile Phones</p>
                <p>Laptops</p>
              </div>
              <div class="col-md-4 p-3">
                <h5>Brands</h5>
                <p>Popular</p>
              </div>
              <div class="col-md-4 p-3">
                <h5>Company</h5>
                <p>About</p>
                <p>Blog</p>
                <p>Contact uS</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</footer>



</body>

</html>
