<%- include("../partials/user-header")%>
<div class="main-container" style="text-align:center;">
	<div class="check-container">
    <h1>Order Success</h1>
    <a class="btn btn-success btn-sm" href="/orders">View Orders</a>
	</div>
</div>
